<body>
<div id="mygrid">
  <header>
      <a href="index.html"><img src="img/Photo.jpg" style="width: 11.35%!important" height="100%"></a>
      <h1>Alireza Farkhondeh</h1>
  </header>
  <nav>
      <ul>
          <li><a href="/"> Home</a></li>
          <br>
          <li>
            <a class="dropbtn" href="/products">Projects</a>
              
          </li>
          <br>
          <li><a href="/about">About</a></li>
          <br>
          <li><a href="/contact">Contact</a></li>
          <br>
          <li><a href="/services">Services</a></li>
      </ul>
  </nav>