<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main style="margin-top: 20px;">
  <h2>Personal Information</h2>
  <p>Hi my name is Alireza Farkhondeh. I am 20 years old and im from Iran. I am studying AI at centennial college.</p>
  <br>
  <a href="https://drive.google.com/file/d/1armwtgDeZV3xs_WLjKyc9NsCoJxLPZ3_/view?usp=drivesdk" target="_blank">Resume</a>
</main>
<aside>
  <img src="img/AgentPic.jpg" height="25%">
</aside>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   