<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

  <main style="margin-top: 20px;">
      <h2>Hi!</h2>
      <p>Hi my name is Alireza Farkhondeh. <button class="btn btn-outline-primary btn-sm btn-active" style="border: 1px solid gray;color:red" onclick = "submit()" >About me</button>
      </p>
      <h2>Customer Feedback</h2>
      <p>Mahdi: "That was amazing work with him"</p>
      <p>Matt: "He helpe me to fing the best house"</p>
      <p>Peter: "Thanks to him my family family got a home"</p>
      <p>Sara: "I find the best mortgage with his help"</p>
      
      <br>
  </main>
  <aside>
      <img src="img/AgentPic.jpg" height="25%">
      <p>E-mail: <a href="mailto:afarkhon@my.centennialcollege.ca">afarkhon@my.centennialcollege.ca</a></p>
  </aside>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
      <script>
        function submit(){
          window.location.href = "/about"
        }
      </script>
   