<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main>
  <img id="PicH" src="img/Project1.png">
  <h3>Agent Assignment</h3>
  <p>Fiesr semester</p>
  <h2>Discription</h2>
  <p>In this project I reied to make a ageny website for an agent and showing his information as well as his available houses.</p>
  <img id="PicH" src="img/Project2.png">
  <h3>Form Sample</h3>
  <p>First Semester</p>
  <h2>Discription</h2>
  <p>In this project I make form for practicing the form tag better also a link to my home page.</p>
  <img id="PicH" src="img/Project3.png">
  <h3>Apple Product</h3>
  <p>First Semester</p>
  <h2>Discription</h2>
  <p>In this project I just have to show some information about any product which i choosed to do the apple products.</p>
</main>
<aside>
  <img src="img/AgentPic.jpg" height="15%">
</aside>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   